<%- include("partials/header.ejs") %>

<div class="all-posts">
    <div>
        <h2>All Posts</h2>
    </div>
    <div class="posts">
        <% if (locals.posts) { %>
        <% posts.forEach(post => { %>
             <div class="blog-post">
                <a href="/post/<%= post.id %>">
        <div class="img-f-div">
            
            <img class="related-img" src="<%= post.src %>" alt="blog-related-image">
        </div>
        <div>
            <h4><%= post.header %></h4>
        </div>
        <div>
            <img class="calendar" width="30" height="30" src="https://img.icons8.com/color/30/calendar--v1.png" alt="calendar--v1"/>
            <p class="date"><%= post.date %></p>
        </div></a>
    </div>
       <% }); %>
   
    <% } else { %>

        <h1>There is no post to show :( </h1>
    <% } %>

    </div>
</div>





<%- include("partials/footer.ejs") %>