<%- include("partials/header.ejs") %>


<div class="one-post">
    <div class="show-post">
        <% if (locals.post) { %>
        <div class="post-content">
            <div class="date-div">
                <img class="calendar" width="30" height="30" src="https://img.icons8.com/color/30/calendar--v1.png" alt="calendar--v1"/>
                <p class="date"><%= post.date %></p>
            </div>
            <div>
                <h1><%= post.header %></h1>
            </div>
            <div>
               <p>
                <%= post.content %>            
            </p>
            </div>
            <div>
                <a href="/update/<%= post.id %>"><button>Update</button></a>
            </div>
        </div>
        <div class="post-image-div">
            <img src="<%= post.src %>" alt="blog-related-image">
        </div>
        <% } else { %>
            <h1>There is no post to show :( </h1>
            <% } %>
    </div>
</div>





<%- include("partials/footer.ejs") %>