<%- include("partials/header.ejs") %>

<div class="main-2">
    <% if (locals.post) { %>
    <form action="/update/<%= post.id %>" method="post">
          
        <div>
          
        <label for="date">Date</label><br>
        <input type="text" name="date" id="date" value="<%= post.date %>">
    </div>
    <div>
        <label for="header">Post Header</label><br>
        <input type="text" name="header" id="header" value="<%= post.header %>">
    </div>
    <div>
        <label for="src">Image Url</label><br>
        <input type="url" name="src" id="src" value="<%= post.src %>" pattern="https://.*" size="30"/>
    </div>
    <div>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" rows="20" cols="80"><%= post.content %></textarea>
    </div>
    <div>
        <input type="submit" value="Update">
    </div>
 </form>
    <% } else { %>
        <h1>Post is not found :(</h1>
    <% } %>
   

</div>





<%- include("partials/footer.ejs") %>